<footer>
    <!-- footer for contact with -->
    <div class="container footer">
        <div class="row">
            <div class="col">
                <h3>UCB RIDER</h3>
                <img src="../../assets/logoUCB.png" alt="" class="text-center" height="200">
            </div>
            <div class="col">
                <h3>UBICACION</h3>
                <p>Av. 14 de Septiembre Nº 4807 esquina, La Paz, Bolivia</p>
            </div>
            <div class="col red-social">
                <h3>REDES SOCIALES</h3>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
</footer>
