<!-- navbar bootstrap -->
<nav class="navbar navbar-expand-lg navbar-light">
    <img src="../../assets/logoUCB.png" alt="" width="80">
    <a class="navbar-brand" routerLink="/home">UCB RIDER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/home">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/moto">MOTOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contacto">CONTACTANOS</a>
        </li>
        </ul>
    </div>
</nav>