<h1 class="text-center">Nuestras Motos</h1>

<div class="container mb-5">
    <div class="row row-cols-3">
        <app-card 
        [image]="'../../assets/01.jpg'" 
        [description]="'Moto de alta calidad blanca para carreras'"
        [title]="'MOTO 1'"
        ></app-card>
        <app-card
        [image]="'../../assets/02.jpg'" 
        [description]="'Moto de alta calidad llamativa para carreras'"
        [title]="'MOTO 2'"
        ></app-card>
        <app-card
        [image]="'../../assets/03.jpg'" 
        [description]="'Moto de alta calidad azul para lucir en la ciudad'"
        [title]="'MOTO 3'"
        ></app-card>
        <app-card
        [image]="'../../assets/04.jpg'" 
        [description]="'Moto de alta calidad utilizado para carreras de gran riesgo'"
        [title]="'MOTO 4'"
        ></app-card>
        <app-card
        [image]="'../../assets/05.png'" 
        [description]="'Casco de la mejor calidad para carreras'"
        [title]="'CASCO 1'"
        ></app-card>
        <app-card
        [image]="'../../assets/06.png'" 
        [description]="'Casco de seguridad rojo flameante'"
        [title]="'CASCO 2'"
        ></app-card>
    </div>
</div>
